# 로컬
server:
  port: "8080"
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
      force: true
  error:
    include-stacktrace: always
    include-trace-on-error: true

spring:
  application:
    name: bangdori_local
  web:
    resources:
      static-locations: classpath:/static/
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      connection-timeout: 5000
      connection-init-sql: select 1
      validation-timeout: 2000
      minimum-idle: 1
      idle-timeout: 600000
      max-lifetime: 18000000
      leak-detection-threshold: 1000000
